.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 10em;
  height: 10em;
  border-top: 1em solid #71A3AC;
  border-right: 1em solid transparent;
  border-radius: 50%;
  margin: auto;
  animation: spinner 1s linear infinite;
}

.circle {
  width: 1em;
  height: 1em;
  background-color: #71A3AC;
  border-radius: 50%;
  margin-left: 8.5em;
  margin-top: 0.5em;
  /* animation: spinner 1s linear infinite; */
}

@keyframes spinner {
    100% {
        transform: rotate(360deg);
        transition: 0.4 all ease;
    }
}

.confirm {
  width: 15vw;
  height: 5vh;
  border-radius: 0.7vw;
  border: none;
  background-color: #71A3AC;
  font-size: 1.3vw;
  font-weight: 700;
  color: white;
  margin-top: 0;
  box-shadow: 0vw 0.7vh 0.5vw 0vh rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
  cursor: pointer;
}

.botao:hover {
  box-shadow: 0vw 1vh 0.8vw 0vh rgba(0, 0, 0, 0.5);
}

/* Elements */

.container h1 {
  margin-top: 2vh;
  font-size: 1.6vw;
}

.container p {
  font-weight: 400;
  margin-top: -2vh;
  font-size: 0.8vw;
}
