body {
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.campos {
  width: 97.6%;
  height: 50px;
  border-radius: 0.7vw;
  border: none;
  background-color: #F0F0F0;
  outline: none;
  font-size: 3vh;
  font-weight: 400;
  color: #6E6E6E;
  padding-left: 2.5%;
  margin-top: -12px;
}
